In [2]:
import pandas as pd
from ydata_profiling import ProfileReport
df = pd.read_csv("base_trie.csv")

In [3]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 797885 entries, 0 to 797884
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      797885 non-null  object
 1   StockCode    797885 non-null  object
 2   Description  797885 non-null  object
 3   Quantity     797885 non-null  int64
 4   InvoiceDate  797885 non-null  object
 5   Price        797885 non-null  float64
 6   Customer ID  797885 non-null  float64
 7   Country      797885 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 48.7+ MB

In [8]:
# Supprimer les lignes où la valeur de "Country" n'est pas "United Kingdom"
df = df[df['Country'] == 'United Kingdom']

# Afficher le DataFrame résultant

df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

### Engin Featuring.

### Country amount

In [12]:
import pandas as pd

# Charger le dataset
df = pd.read_csv('base_trie.csv')

# Calculer le montant total des achats par client
df['TotalAmount'] = df['Quantity'] * df['Price']

# Regrouper par client et pays, puis calculer la somme totale des montants
df_country_amount = df.groupby(['Customer ID', 'Country'])['TotalAmount'].sum().unstack().reset_index()

# Remplacer les valeurs manquantes par 0 (pour les clients n'ayant pas dépensé dans un pays spécifique)
df_country_amount.fillna(0, inplace=True)

# Renommer les colonnes des pays pour refléter l'information
df_country_amount.rename(columns={'Country': 'Customer ID'}, inplace=True)

# Afficher les premières lignes du résultat
print(df_country_amount.head())

Country  Customer ID  Australia  Austria  Bahrain  Belgium  Brazil  Canada  \
0            12346.0        0.0      0.0      0.0      0.0     0.0     0.0
1            12347.0        0.0      0.0      0.0      0.0     0.0     0.0
2            12348.0        0.0      0.0      0.0      0.0     0.0     0.0
3            12349.0        0.0      0.0      0.0      0.0     0.0     0.0
4            12350.0        0.0      0.0      0.0      0.0     0.0     0.0

Country  Channel Islands  Cyprus  Czech Republic  ...  Singapore  Spain  \
0                    0.0     0.0             0.0  ...        0.0    0.0
1                    0.0     0.0             0.0  ...        0.0    0.0
2                    0.0     0.0             0.0  ...        0.0    0.0
3                    0.0     0.0             0.0  ...        0.0    0.0
4                    0.0     0.0             0.0  ...        0.0    0.0

Country  Sweden  Switzerland  Thailand  USA  United Arab Emirates  \
0           0.0          0.0       0.0  0.0                   0.0
1           0.0          0.0       0.0  0.0                   0.0
2           0.0          0.0       0.0  0.0                   0.0
3           0.0          0.0       0.0  0.0                   0.0
4           0.0          0.0       0.0  0.0                   0.0

Country  United Kingdom  Unspecified  West Indies
0                -51.74          0.0          0.0
1                  0.00          0.0          0.0
2                  0.00          0.0          0.0
3                  0.00          0.0          0.0
4                  0.00          0.0          0.0

[5 rows x 42 columns]

In [20]:
df_country_amount.shape

(5942, 42)

### Time Diff

In [9]:
import pandas as pd

# Charger le dataset


# Convertir la colonne "InvoiceDate" en type de données datetime
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

# Trier le DataFrame par client et date
df_sorted = df.sort_values(by=['Customer ID', 'InvoiceDate'])

# Calculer la différence de jours entre les achats pour chaque client
df_sorted['TimeDiff'] = df_sorted.groupby('Customer ID')['InvoiceDate'].diff().dt.days

# Calculer la fréquence d'achat (nombre moyen de jours entre les achats) pour chaque client
df_frequency = df_sorted.groupby('Customer ID')['TimeDiff'].mean().reset_index()

# Afficher les premières lignes du résultat
print(df_frequency.head())

   Customer ID   TimeDiff
0      12346.0   8.543478
1      12608.0   0.000000
2      12745.0   4.142857
3      12746.0  10.631579
4      12747.0   2.816406

In [10]:
df_frequency.shape

(5410, 2)

### Total Amount

In [11]:
import pandas as pd

# Charger le dataset

# Calculer le montant total des achats par client
df['TotalAmount'] = df['Quantity'] * df['Price']

# Regrouper par client et calculer la somme totale des montants
df_total_amount = df.groupby('Customer ID')['TotalAmount'].sum().reset_index()

# Afficher les premières lignes du résultat
print(df_total_amount.head())

   Customer ID  TotalAmount
0      12346.0       -51.74
1      12608.0       415.79
2      12745.0       723.85
3      12746.0       230.85
4      12747.0      8786.53

In [12]:
df_total_amount.shape

(5410, 2)

### Moyen achat

In [13]:
import pandas as pd

# Charger le dataset


# Calculer le montant total des achats par transaction
df['TotalAmount'] = df['Quantity'] * df['Price']

# Regrouper par client et calculer le montant moyen des achats
df_avg_amount = df.groupby('Customer ID')['TotalAmount'].mean().reset_index()

# Renommer la colonne pour refléter l'information
df_avg_amount.rename(columns={'TotalAmount': 'AverageAmount'}, inplace=True)

# Afficher les premières lignes du résultat
print(df_avg_amount.head())

   Customer ID  AverageAmount
0      12346.0      -1.100851
1      12608.0      25.986875
2      12745.0      32.902273
3      12746.0      11.542500
4      12747.0      34.188833

In [14]:
df_avg_amount.shape

(5410, 2)

In [15]:
df['Description'].nunique()

5265

### Merge

In [20]:
import pandas as pd

# Fusionner les dataframes en utilisant la colonne "Customer ID" comme clé de fusion
merged_df = pd.merge(df_avg_amount, df_total_amount, on='Customer ID', how='inner')
merged_df = pd.merge(merged_df, df_frequency, on='Customer ID', how='inner')
# merged_df = pd.merge(merged_df, df_country_amount, on='Customer ID', how='inner')

# Afficher le dataframe fusionné
print(merged_df.head())

   Customer ID  AverageAmount  TotalAmount   TimeDiff
0      12346.0      -1.100851       -51.74   8.543478
1      12608.0      25.986875       415.79   0.000000
2      12745.0      32.902273       723.85   4.142857
3      12746.0      11.542500       230.85  10.631579
4      12747.0      34.188833      8786.53   2.816406

In [23]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5410 entries, 0 to 5409
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer ID    5410 non-null   float64
 1   AverageAmount  5410 non-null   float64
 2   TotalAmount    5410 non-null   float64
 3   TimeDiff       5272 non-null   float64
dtypes: float64(4)
memory usage: 211.3 KB

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 716115 entries, 0 to 797868
Data columns (total 16 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      716115 non-null  object
 1   StockCode    716115 non-null  object
 2   Description  716115 non-null  object
 3   Quantity     716115 non-null  int64
 4   InvoiceDate  716115 non-null  datetime64[ns]
 5   Price        716115 non-null  float64
 6   Customer ID  716115 non-null  float64
 7   Country      716115 non-null  object
 8   TotalAmount  716115 non-null  float64
 9   Recency      716115 non-null  int64
 10  Frequency    716115 non-null  int64
 11  Monetary     716115 non-null  float64
 12  R            716115 non-null  int64
 13  F            716115 non-null  int64
 14  M            716115 non-null  int64
 15  RFM          716115 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(7), object(4)
memory usage: 92.9+ MB

### Score RFM

In [16]:
import pandas as pd



# Convertir la colonne "InvoiceDate" en type de données datetime
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

# Calculer la date la plus récente dans le dataset
most_recent_date = df['InvoiceDate'].max()

# Calculer la récence (Recency) en jours
df['Recency'] = (most_recent_date - df.groupby('Customer ID')['InvoiceDate'].transform('max')).dt.days

# Calculer la fréquence (Frequency)
df['Frequency'] = df.groupby('Customer ID')['Invoice'].transform('nunique')

# Calculer le montant (Monetary)
df['Monetary'] = df.groupby('Customer ID')['Price'].transform('sum')

# Créer une fonction pour attribuer des scores RFM
def assign_rfm_score(value, quantiles):
    if value <= quantiles[0]:
        return 4
    elif value <= quantiles[1]:
        return 3
    elif value <= quantiles[2]:
        return 2
    else:
        return 1

# Calculer les quantiles pour chaque mesure RFM
recency_quantiles = df['Recency'].quantile(q=[0.25, 0.5, 0.75]).values
frequency_quantiles = df['Frequency'].quantile(q=[0.25, 0.5, 0.75]).values
monetary_quantiles = df['Monetary'].quantile(q=[0.25, 0.5, 0.75]).values

# Appliquer la fonction d'assignation des scores RFM pour chaque mesure
df['R'] = df['Recency'].apply(assign_rfm_score, args=(recency_quantiles,))
df['F'] = df['Frequency'].apply(assign_rfm_score, args=(frequency_quantiles,))
df['M'] = df['Monetary'].apply(assign_rfm_score, args=(monetary_quantiles,))

# Concaténer les scores R, F, M pour créer l'indice RFM
df['RFM'] = df['R'].astype(str) + df['F'].astype(str) + df['M'].astype(str)

# Afficher le dataframe avec l'indice RFM
print(df.head())

  Invoice StockCode                          Description  Quantity  \
0  489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
1  489434    79323P                   PINK CHERRY LIGHTS        12
2  489434    79323W                  WHITE CHERRY LIGHTS        12
3  489434     22041         RECORD FRAME 7" SINGLE SIZE         48
4  489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24

          InvoiceDate  Price  Customer ID         Country  TotalAmount  \
0 2009-12-01 07:45:00   6.95      13085.0  United Kingdom         83.4
1 2009-12-01 07:45:00   6.75      13085.0  United Kingdom         81.0
2 2009-12-01 07:45:00   6.75      13085.0  United Kingdom         81.0
3 2009-12-01 07:45:00   2.10      13085.0  United Kingdom        100.8
4 2009-12-01 07:45:00   1.25      13085.0  United Kingdom         30.0

   Recency  Frequency  Monetary  R  F  M  RFM
0      157         10   1142.05  1  3  2  132
1      157         10   1142.05  1  3  2  132
2      157         10   1142.05  1  3  2  132
3      157         10   1142.05  1  3  2  132
4      157         10   1142.05  1  3  2  132

In [17]:
df['RFM'] = df['RFM'].astype(int)

In [18]:
# Effectuer un groupby sur Customer ID pour les colonnes R, F, M et RFM
df_grouped_RFM = df.groupby('Customer ID').agg({'R': 'mean', 'F': 'mean', 'M': 'mean', 'RFM': 'mean'}).reset_index()

# Afficher le DataFrame résultant
print(df_grouped_RFM.head())

   Customer ID    R    F    M    RFM
0      12346.0  1.0  2.0  3.0  123.0
1      12608.0  1.0  4.0  4.0  144.0
2      12745.0  1.0  4.0  4.0  144.0
3      12746.0  1.0  4.0  4.0  144.0
4      12747.0  4.0  1.0  2.0  412.0

In [24]:
df_grouped_RFM.shape

(5410, 5)

In [25]:
merged_df = pd.merge(merged_df, df_grouped_RFM, on='Customer ID', how='inner')

In [26]:
merged_df.head()

   Customer ID  AverageAmount  TotalAmount   TimeDiff    R    F    M    RFM
0      12346.0      -1.100851       -51.74   8.543478  1.0  2.0  3.0  123.0
1      12608.0      25.986875       415.79   0.000000  1.0  4.0  4.0  144.0
2      12745.0      32.902273       723.85   4.142857  1.0  4.0  4.0  144.0
3      12746.0      11.542500       230.85  10.631579  1.0  4.0  4.0  144.0
4      12747.0      34.188833      8786.53   2.816406  4.0  1.0  2.0  412.0

In [27]:
merged_df.to_csv('Feature_engin_treated.csv',index=False)

In [28]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5410 entries, 0 to 5409
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer ID    5410 non-null   float64
 1   AverageAmount  5410 non-null   float64
 2   TotalAmount    5410 non-null   float64
 3   TimeDiff       5272 non-null   float64
 4   R              5410 non-null   float64
 5   F              5410 non-null   float64
 6   M              5410 non-null   float64
 7   RFM            5410 non-null   float64
dtypes: float64(8)
memory usage: 380.4 KB

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 716115 entries, 0 to 797868
Data columns (total 16 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      716115 non-null  object
 1   StockCode    716115 non-null  object
 2   Description  716115 non-null  object
 3   Quantity     716115 non-null  int64
 4   InvoiceDate  716115 non-null  datetime64[ns]
 5   Price        716115 non-null  float64
 6   Customer ID  716115 non-null  float64
 7   Country      716115 non-null  object
 8   TotalAmount  716115 non-null  float64
 9   Recency      716115 non-null  int64
 10  Frequency    716115 non-null  int64
 11  Monetary     716115 non-null  float64
 12  R            716115 non-null  int64
 13  F            716115 non-null  int64
 14  M            716115 non-null  int64
 15  RFM          716115 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(7), object(4)
memory usage: 92.9+ MB