In [1]:
import pandas as pd

xlsx_file = 'start.xlsx'
csv_file = 'segmen.csv'

df = pd.read_excel(xlsx_file)
df.to_csv(csv_file, index=False, encoding='utf-8')

df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

In [ ]:
df.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

In [12]:
noms_colonnes_fr = {
    'InvoiceNo': 'num_facture',
    'StockCode': 'code_produit',
    'Description': 'description',
    'Quantity': 'quantité',
    'InvoiceDate': 'date_facture',
    'UnitPrice': 'prix',
    'CustomerID': 'num_client',
    'Country': 'pays'
}

# Renommez les colonnes en utilisant le dictionnaire de correspondance
df = df.rename(columns=noms_colonnes_fr)

In [3]:
df.describe()

            quantité          Price    Customer ID
count  525461.000000  525461.000000  417534.000000
mean       10.337667       4.688834   15360.645478
std       107.424110     146.126914    1680.811316
min     -9600.000000  -53594.360000   12346.000000
25%         1.000000       1.250000   13983.000000
50%         3.000000       2.100000   15311.000000
75%        10.000000       4.210000   16799.000000
max     19152.000000   25111.090000   18287.000000

In [4]:
df['code_produit'].value_counts

<bound method IndexOpsMixin.value_counts of 0          85048
1         79323P
2         79323W
3          22041
4          21232
           ...
525456     22271
525457     22750
525458     22751
525459     20970
525460     21931
Name: code_produit, Length: 525461, dtype: object>

In [5]:
df = df.dropna()

In [11]:
df.dtypes

Invoice                 object
code_produit            object
description             object
quantité                 int64
date_facture    datetime64[ns]
Price                  float64
Customer ID            float64
pays                    object
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.1+ MB

In [7]:
df.corr()

/tmp/ipykernel_97998/1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

             Quantity     Price  Customer ID
Quantity     1.000000 -0.001931    -0.011577
Price       -0.001931  1.000000    -0.003266
Customer ID -0.011577 -0.003266     1.000000

In [8]:

from ydata_profiling import ProfileReport
from ipywidgets import HTML, Button, widgets
import numpy
import sys
df = pd.read_csv('segmen.csv')
profile = ProfileReport(df)
profile.to_widgets()
profile.to_file("rapport.html")

Summarize dataset: 100%|██████████| 27/27 [00:11<00:00,  2.41it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:05<00:00,  5.04s/it]
Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

Render HTML: 100%|██████████| 1/1 [00:00<00:00,  1.07it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 129.07it/s]

In [9]:
len(df['Description'].unique())

4682

In [16]:
df['qcut_prix'], inter=pd.qcut(df['Price'],10, labels=[1,2,3,4,5,6,7,8,9,10],retbins=True)

In [17]:
df.columns

Index(['Invoice', 'code_produit', 'description', 'quantité', 'date_facture',
       'Price', 'Customer ID', 'pays', 'qcut_prix'],
      dtype='object')

In [ ]:
a=[]
compteur=1
for i in invoice. :

In [19]:
a = {}
for index, row in df.iterrows():
    num_facture = row['Invoice']
    qtite = row['quantité']
    prix = row['Price']
    
    if num_facture not in a:
        a[num_facture] = 0
    
    a[num_facture] += qtite * prix

KeyboardInterrupt:

In [ ]:
for i,j in a.tems():
    for index, row in df.iterrows():
        if i==index:
            df('entre')

In [22]:
a
for key in a:
    a[key] = round(a[key], 2)
a

{'489434': 505.3,
 '489435': 145.8,
 '489436': 630.33,
 '489437': 310.75,
 '489438': 2286.24,
 '489439': 426.3,
 '489440': 50.4,
 '489441': 344.34,
 '489442': 382.37,
 '489443': 285.06,
 '489444': 141.0,
 '489445': 308.44,
 '489446': 996.1,
 '489447': 130.0,
 '489448': 570.24,
 'C489449': -196.1,
 '489450': 196.1,
 'C489459': -148.3,
 '489460': 485.79,
 '489461': 589.33,
 '489462': 148.3,
 '489464': 0.0,
 '489465': 1197.8,
 '489463': 0.0,
 '489467': 0.0,
 'C489476': -12.6,
 '489488': 251.1,
 'C489503': -13.45,
 'C489504': -15.3,
 '489505': 255.5,
 '489514': 823.02,
 '489517': 282.46,
 'C489518': -38.4,
 '489519': 696.73,
 '489520': 733.63,
 '489521': 0.0,
 '489522': 700.31,
 '489523': 1160.0,
 'C489524': -12.75,
 '489525': 1.4,
 '489526': 929.92,
 'C489527': -43.95,
 'C489528': -7.95,
 '489529': 229.46,
 'C489530': -4.25,
 '489531': 145.0,
 '489532': 304.53,
 '489533': 192.75,
 'C489534': -5.95,
 'C489535': -28.0,
 '489536': 367.41,
 '489537': 633.33,
 'C489538': -36.58,
 '489540': 537.96,
 'C489541': -11.8,
 '489539': 2887.14,
 '489542': 387.6,
 'C489543': -17.9,
 '489544': 281.82,
 '489545': 124.95,
 '489546': 584.5,
 '489547': 641.45,
 '489548': 390.86,
 'C489549': -15.9,
 '489550': 482.3,
 'C489551': -6.95,
 '489552': 278.61,
 'C489553': -27.29,
 'C489554': -18.65,
 'C489555': -19.5,
 '489556': 379.65,
 '489557': 603.94,
 '489558': 291.58,
 '489559': 128.6,
 '489560': 859.1,
 '489561': 246.86,
 '489562': 229.6,
 'C489563': -214.2,
 '489564': 322.9,
 'C489565': -25.2,
 '489566': 218.55,
 '489567': 307.8,
 '489569': 282.28,
 'C489568': -18.4,
 'C489570': -22.4,
 '489571': 156.71,
 '489572': 507.49,
 '489573': 580.02,
 '489574': 551.33,
 '489575': 367.28,
 'C489577': -96.8,
 '489576': 319.66,
 'C489578': -2.95,
 '489579': 219.82,
 '489580': 261.0,
 'C489583': -23.35,
 '489582': 293.95,
 '489581': 124.83,
 '489584': 21.95,
 '489585': 105.85,
 '489586': 263.42,
 'C489587': -4.25,
 'C489588': -36.95,
 'C489589': -6.3,
 '489590': 362.78,
 'C489591': -16.35,
 '489593': 423.87,
 'C489592': -5.1,
 '489594': 322.33,
 'C489595': -14.95,
 '489596': 17.0,
 '489597': 5097.82,
 '489598': 822.37,
 '489599': 2454.68,
 '489600': 420.29,
 '489601': 337.2,
 '489602': 440.07,
 '489603': 311.55,
 '489604': 383.87,
 'C489605': -15.9,
 '489606': 2.1,
 '489608': 9.75,
 '489607': 446.98,
 '489609': 553.78,
 'C489610': -29.55,
 '489611': 2.95,
 '489612': 629.78,
 '489613': 12.75,
 '489615': 499.36,
 '489614': 408.85,
 '489616': 409.27,
 '489617': 198.0,
 '489618': 6.35,
 '489619': 19.5,
 'C489632': -16.25,
 '489634': 17.4,
 '489635': 352.85,
 'C489636': -74.6,
 '489637': 535.9,
 '489638': 7.5,
 '489639': 31.2,
 '489640': 329.91,
 '489641': 622.1,
 '489642': 12.85,
 'C489643': -30.3,
 '489644': 896.54,
 '489645': 261.74,
 '489650': 173.1,
 'C489651': -5.1,
 '489653': 60.78,
 '489652': 294.14,
 '489654': 222.12,
 '489655': 0.0,
 '489656': 1237.3,
 '489657': 55.2,
 '489658': 828.09,
 '489659': 0.0,
 '489660': 0.0,
 '489661': 23.48,
 '489662': 73.75,
 '489663': 0.0,
 '489664': 374.43,
 '489665': 252.3,
 '489666': 263.09,
 '489667': 538.46,
 '489668': 378.12,
 '489669': 397.2,
 '489670': 114.6,
 '489671': 740.3,
 '489672': 772.65,
 '489673': 61.1,
 '489674': 261.3,
 '489675': 4939.22,
 '489676': 1210.8,
 '489677': 192.0,
 '489678': 189.3,
 '489679': 795.98,
 '489681': 89.59,
 '489680': 45.0,
 '489682': 125.73,
 '489683': 1317.97,
 '489684': 266.6,
 'C489685': -28.95,
 'C489686': -1.7,
 '489687': 221.53,
 '489688': 299.7,
 'C489689': -21.9,
 '489695': 306.95,
 '489699': 401.7,
 '489705': 17.0,
 '489702': 3108.64,
 'C489713': -208.75,
 '489723': 2052.12,
 '489726': 750.0,
 '489725': 216.0,
 '489727': 900.0,
 '489728': 180.45,
 '489733': 168.0,
 '489743': 538.77,
 '489748': 754.2,
 '489764': 223.1,
 '489765': 285.59,
 '489766': 130.18,
 'C489771': -2.95,
 '489780': 159.98,
 '489781': 0.0,
 '489782': 230.46,
 '489783': 162.04,
 '489784': 40.8,
 '489785': 333.67,
 '489786': 216.86,
 '489787': 319.54,
 '489788': 119.16,
 '489790': 131.12,
 '489789': 80.4,
 '489791': 221.19,
 '489792': 923.79,
 '489793': 260.36,
 '489794': 58.2,
 '489795': 935.01,
 '489796': 311.5,
 '489797': 200.63,
 '489798': 311.69,
 'C489799': -7.8,
 '489800': 408.07,
 '489801': 128.48,
 '489802': 174.52,
 'C489803': -10.95,
 '489804': 251.17,
 '489805': 454.35,
 '489806': 0.0,
 '489807': 180.13,
 '489808': 109.84,
 '489809': 112.5,
 '489810': 493.25,
 '489811': 634.29,
 '489812': 597.69,
 'C489813': -51.9,
 '489814': 824.18,
 '489815': 132.55,
 '489816': 284.55,
 '489817': 340.2,
 '489820': 0.0,
 '489819': 618.43,
 '489818': 294.3,
 '489821': 0.0,
 '489822': 371.27,
 '489823': 87.3,
 '489824': 176.88,
 '489825': 174.1,
 '489826': 85.95,
 '489827': 445.7,
 '489829': 472.47,
 'C489828': -8.5,
 '489830': 637.04,
 '489831': 1008.0,
 '489832': 316.22,
 '489834': 214.8,
 '489833': 150.68,
 '489835': 714.0,
 '489837': 514.97,
 '489840': 89.7,
 '489855': 157.91,
 '489856': 4463.74,
 '489857': 5741.96,
 'C489858': -20.4,
 'C489859': -69.57,
 'C489860': -8.5,
 '489861': 46.07,
 '489862': 734.7,
 '489863': 66.82,
 '489864': 206.85,
 '489865': 234.87,
 '489866': 1003.83,
 '489867': 118.95,
 '489868': 675.0,
 '489869': 39.98,
 '489870': 162.1,
 '489871': 735.7,
 '489872': 632.9,
 '489873': 10.2,
 '489874': 176.6,
 '489875': 530.76,
 '489877': 368.1,
 '489876': 39.85,
 '489878': 143.11,
 '489879': 163.47,
 '489880': 380.28,
 'C489881': -147.05,
 '489882': 0.0,
 '489883': 578.28,
 '489884': 3.61,
 '489888': 597.4,
 '489889': 4734.24,
 '489890': 976.8,
 '489891': 181.08,
 '489892': 39.8,
 '489893': 300.1,
 '489894': 520.2,
 '489895': 371.82,
 '489896': 337.93,
 '489897': 260.44,
 '489898': 0.0,
 '489899': 0.0,
 '489900': 287.37,
 '489901': 0.0,
 '489902': 119.1,
 '489903': 0.0,
 '489904': 203.78,
 '489905': 478.7,
 '489906': 120.0,
 '489907': 202.06,
 '489909': 642.2,
 '489908': 107.33,
 '489910': 144.0,
 '489912': 1146.1,
 'C489911': -41.5,
 '489913': 69.6,
 '489914': 993.0,
 '489915': 54.6,
 '489916': 336.0,
 '489932': 82.6,
 '489935': 181.65,
 'C489955': -3.35,
 'C489958': -51.27,
 'C489973': -10.45,
 '489994': 430.9,
 '489996': 320.4,
 '489998': 321.65,
 '489999': 154.2,
 '490000': 143.06,
 '490001': 169.5,
 '490002': 114.55,
 '490003': 317.55,
 '490004': 912.56,
 '490005': 556.75,
 '490006': 344.4,
 '490007': 0.0,
 '490008': 503.93,
 '490009': 285.09,
 '490010': 1008.0,
 '490012': 763.35,
 '490013': 500.55,
 '490011': 221.69,
 '490014': 744.21,
 '490015': 0.0,
 '490016': 0.0,
 '490017': 393.65,
 '490018': 4380.0,
 '490019': 308.6,
 '490021': 10.2,
 '490020': 37.8,
 '490022': 45.6,
 '490023': 189.15,
 '490024': 215.0,
 '490030': 58.2,
 '490034': 69.82,
 '490045': 180.39,
 '490047': 263.85,
 '490046': 228.3,
 '490048': 1146.71,
 '490049': 102.0,
 '490050': 13.5,
 'C490051': -36.9,
 '490052': 831.0,
 '490053': 119.54,
 '490054': 277.5,
 '490055': 0.0,
 '490056': 61.12,
 '490057': 360.52,
 '490058': 47.85,
 '490059': 14475.0,
 '490060': 314.22,
 '490061': 4000.0,
 '490062': 165.3,
 '490063': 210.39,
 '490064': 355.59,
 '490065': 1260.0,
 '490066': 372.2,
 '490067': 952.61,
 '490068': 284.3,
 '490069': 161.4,
 '490070': 236.25,
 '490071': 294.85,
 '490072': 194.65,
 '490073': 258.1,
 '490074': 6500.63,
 '490075': 381.0,
 'C490076': -4.95,
 '490077': 115.51,
 '490078': 584.35,
 '490079': 160.35,
 '490080': 311.7,
 '490081': 723.09,
 '490082': 337.9,
 '490083': 2506.14,
 '490084': 0.0,
 '490085': 170.06,
 '490086': 799.2,
 '490087': 898.18,
 '490088': 17.0,
 '490089': 466.2,
 '490090': 45.55,
 '490092': 510.87,
 '490091': 636.0,
 '490094': 851.76,
 '490093': 1794.7,
 '490095': 186.36,
 'C490096': -1.65,
 '490097': 279.42,
 'C490098': -6.25,
 '490099': 1225.98,
 '490100': 869.93,
 '490101': 338.5,
 '490106': 314.37,
 '490107': 110.7,
 '490108': 239.68,
 '490109': 415.0,
 '490110': 30.15,
 '490111': 321.21,
 '490112': 313.19,
 '490113': 39.2,
 '490114': 257.62,
 '490115': 342.6,
 '490116': 122.4,
 'C490117': -62.99,
 '490118': 317.04,
 '490119': 108.75,
 'C490120': -354.45,
 '490121': 112.03,
 'C490122': -10.2,
 '490124': 319.87,
 '490123': 0.0,
 '490125': 297.05,
 'C490126': -5.95,
 '490127': 569.18,
 '490128': 241.8,
 'C490129': -1998.49,
 '490130': 0.0,
 'C490131': -15.0,
 '490132': 197.3,
 'C490133': -3341.46,
 '490134': 151.65,
 '490135': 387.87,
 '490136': 174.85,
 '490137': 160.69,
 '490138': 339.78,
 '490139': 210.55,
 '490140': 407.22,
 '490141': 308.75,
 '490142': 1261.0,
 '490143': 1610.52,
 '490144': 337.1,
 '490145': 989.18,
 '490146': 0.0,
 '490147': 510.64,
 'C490148': -2.95,
 '490149': 6529.11,
 '490150': 0.0,
 '490151': 160.39,
 '490152': 682.65,
 'C490153': -45.75,
 '490154': 290.48,
 'C490155': -5.95,
 '490156': 455.36,
 '490157': 138.0,
 '490158': 508.26,
 '490159': 19.5,
 '490160': 244.8,
 '490161': 825.94,
 '490162': 280.2,
 '490163': 141.63,
 '490164': 1058.4,
 '490165': 0.0,
 '490166': 371.85,
 '490167': 312.21,
 '490171': 29.28,
 '490177': 18.0,
 '490186': 3.75,
 '490192': 8.95,
 '490202': 410.0,
 '490209': 908.04,
 '490212': 108.95,
 '490214': 319.15,
 '490218': 67.68,
 '490219': 155.65,
 '490229': 1185.16,
 '490247': 351.3,
 'C490251': -4.25,
 '490258': 20.4,
 'C490269': -13.45,
 '490266': 231.2,
 '490272': 521.38,
 '490277': 1077.6,
 '490279': 317.83,
 '490281': 311.2,
 '490282': 107.95,
 'C490283': -24.15,
 '490284': 439.46,
 '490286': 762.1,
 '490285': 373.74,
 '490287': 367.1,
 '490288': 332.16,
 '490289': 273.75,
 '490290': 164.03,
 '490291': 424.03,
 '490292': 460.55,
 '490293': 137.4,
 '490294': 378.96,
 '490295': 435.88,
 'C490296': -28.0,
 '490297': 694.2,
 '490298': 1523.2,
 '490299': 621.22,
 '490300': 260.64,
 '490301': 345.27,
 '490302': 303.62,
 '490303': 106.25,
 '490304': 843.01,
 '490305': 726.57,
 'C490306': -30.6,
 'C490307': -8.97,
 '490308': 194.53,
 'C490309': -14.85,
 '490310': 231.9,
 '490311': 307.65,
 '490312': 326.13,
 '490313': 137.95,
 '490320': 867.89,
 '490323': 236.69,
 '490324': 672.0,
 '490326': 149.1,
 '490327': 990.0,
 '490331': 298.99,
 '490340': 630.39,
 '490341': 334.65,
 '490342': 130.8,
 'C490343': -30.0,
 '490344': 18.0,
 '490345': 6.7,
 '490346': 216.6,
 '490347': 109.4,
 'C490348': -24.75,
 '490349': 32.25,
 'C490350': -7.5,
 '490351': 24.15,
 '490352': 11.8,
 '490353': 532.28,
 '490355': 538.11,
 '490354': 0.0,
 '490356': 117.13,
 'C490358': -145.35,
 '490360': 126.8,
 '490359': 59.5,
 '490361': 48.05,
 '490362': 220.9,
 '490363': 138.24,
 '490364': 103.95,
 '490365': 351.6,
 '490366': 227.25,
 '490367': 79.6,
 '490368': 159.1,
 '490369': 230.2,
 '490370': 452.95,
 '490371': 233.71,
 '490372': 434.15,
 '490373': 502.54,
 '490374': 136.75,
 '490375': 350.55,
 '490376': 796.55,
 '490377': 15.0,
 '490378': 224.1,
 '490379': 0.0,
 '490380': 478.74,
 '490381': 97.11,
 '490382': 760.69,
 '490383': 148.3,
 '490384': 0.0,
 '490385': 130.32,
 '490386': 549.77,
 '490387': 450.84,
 '490388': 146.62,
 '490389': 689.5,
 '490390': 256.2,
 '490391': 304.1,
 '490392': 203.32,
 '490393': 281.02,
 '490394': 870.28,
 '490395': 283.15,
 '490396': 269.15,
 '490397': 309.1,
 '490398': 567.71,
 '490399': 441.63,
 '490400': 689.9,
 '490401': 139.25,
 'C490402': -6.35,
 '490403': 316.74,
 '490404': 188.69,
 '490405': 260.65,
 '490408': 413.44,
 '490430': 253.55,
 '490458': 817.44,
 '490459': 950.69,
 'C490460': -12.7,
 '490461': 720.79,
 'C490462': -10.95,
 '490463': 305.5,
 '490464': 118.26,
 '490465': 933.35,
 '490466': 183.6,
 '490467': 280.94,
 '490468': 204.24,
 'C490469': -52.0,
 '490470': 242.96,
 '490472': 619.24,
 '490471': 212.13,
 '490473': 204.65,
 'C490475': -15.0,
 '490474': 748.42,
 '490476': 211.62,
 '490477': 533.14,
 '490479': 1450.2,
 '490478': 302.5,
 'C490480': -8.5,
 '490481': 21.25,
 '490482': 289.3,
 '490483': 132.4,
 '490484': 186.6,
 '490485': 125.94,
 '490486': 90.0,
 '490487': 81.3,
 '490488': 647.82,
 '490489': 266.19,
 '490490': 547.73,
 '490491': 175.2,
 'C490492': -12.75,
 '490493': 12.75,
 '490494': 192.27,
 'C490495': -12.75,
 '490496': 671.56,
 'C490497': -6.35,
 'C490498': -2.55,
 '490499': 406.7,
 '490500': 355.13,
 '490501': 285.64,
 '490502': 101.4,
 '490503': 582.12,
 '490504': 391.92,
 '490505': 98.16,
 '490506': 25.46,
 'C490507': -11.24,
 '490508': 450.84,
 'C490509': -24.4,
 'C490510': -17.0,
 '490511': 626.6,
 '490512': 235.13,
 'C490513': -38.95,
 '490514': 137.75,
 '490515': 147.4,
 '490516': 504.54,
 '490517': 21.95,
 '490518': 474.32,
 '490519': 213.65,
 'C490520': -5.45,
 '490521': 235.84,
 '490522': 150.4,
 '490523': 10.97,
 '490524': 436.18,
 '490525': 255.0,
 '490526': 533.97,
 '490527': 182.01,
 '490528': 118.25,
 '490529': 48.89,
 '490530': 161.8,
 '490531': 166.95,
 'C490532': -59.5,
 '490533': 378.05,
 '490534': 263.68,
 '490535': 560.58,
 '490536': 221.9,
 '490537': 209.41,
 '490538': 504.54,
 '490539': 346.0,
 '490540': 0.0,
 '490541': 294.8,
 '490542': 716.35,
 '490543': 0.0,
 'C490544': -29.7,
 '490545': 34.0,
 '490547': 311.2,
 '490548': 504.54,
 '490557': 463.0,
 '490561': 41.3,
 '490563': 808.12,
 '490564': 367.9,
 'C490565': -49.65,
 '490566': 14.3,
 '490569': 411.2,
 '490577': 187.19,
 '490603': 287.49,
 '490604': 682.4,
 '490605': 191.74,
 '490606': 426.0,
 '490607': 173.55,
 '490608': 163.77,
 '490609': 218.33,
 '490610': 211.62,
 '490611': 312.65,
 '490612': 610.95,
 '490613': 224.98,
 '490616': 214.8,
 '490618': 44.7,
 '490625': 362.6,
 '490636': 425.09,
 '490637': 452.16,
 '490638': 147.1,
 '490640': 321.0,
 '490642': 446.4,
 '490641': 51.0,
 '490653': 990.48,
 '490657': 208.83,
 '490659': 380.84,
 '490665': 76.5,
 '490667': 238.85,
 'C490666': -12.75,
 '490668': 312.33,
 '490670': 143.7,
 '490669': 214.17,
 '490671': 488.16,
 '490672': 660.96,
 '490673': 156.5,
 '490674': 242.1,
 '490675': 696.54,
 '490676': 451.44,
 '490677': 151.72,
 '490678': 380.65,
 '490679': 379.16,
 '490680': 293.35,
 '490681': 164.75,
 '490682': 285.9,
 '490683': 413.0,
 '490684': 74.56,
 '490685': 1066.82,
 '490687': 924.95,
 '490686': 153.28,
 '490688': 0.0,
 '490689': 307.91,
 '490690': 207.9,
 '490691': 306.0,
 '490692': 195.78,
 '490693': 190.47,
 '490694': 1244.32,
 '490695': 108.4,
 '490697': 378.84,
 '490698': 4.25,
 '490699': 20.58,
 'C490700': -67.5,
 'C490701': -5.8,
 'C490702': -21.0,
 '490703': 154.2,
 '490704': 355.38,
 '490705': 204.0,
 '490706': 1088.63,
 '490707': 45.9,
 '490708': 241.05,
 '490709': 198.98,
 '490710': 332.7,
 '490711': 448.96,
 '490712': 331.4,
 '490713': 0.0,
 '490714': 4.95,
 '490715': 0.0,
 '490717': 449.95,
 '490716': 0.0,
 '490719': 668.1,
 '490718': 485.31,
 '490720': 357.87,
 'C490721': -14.0,
 '490722': 386.39,
 '490723': 7.95,
 '490724': 716.04,
 '490725': 343.44,
 '490726': 561.6,
 '490727': 285.35,
 '490728': 221.52,
 '490734': 306.55,
 '490733': 412.6,
 '490735': 0.0,
 '490736': 0.0,
 '490737': 389.62,
 '490738': 25.5,
 'C490739': -87.3,
 'C490740': -8.95,
 '490741': 6370.46,
 'C490742': -24.9,
 'C490743': -9.95,
 'C490744': -26.75,
 '490745': 5201.38,
 'C490746': -78.35,
 '490747': 8.92,
 'C490748': -309.73,
 '490749': 580.64,
 '490750': 312.96,
 '490751': 1429.83,
 '490752': 356.4,
 '490753': 322.65,
 '490754': 302.78,
 '490755': 338.34,
 'C490756': -3.75,
 '490757': 425.59,
 '490758': 0.0,
 '490759': 182.88,
 '490760': 10.0,
 '490761': 255.04,
 '490762': 323.39,
 '490763': 1020.0,
 '490764': 306.45,
 '490765': 0.0,
 '490766': 0.0,
 '490767': 44.32,
 'C490768': -52.4,
 '490770': 135.94,
 '490769': 221.0,
 'C490773': -19.9,
 '490782': 707.93,
 '490785': 2590.8,
 '490786': 30.6,
 '490789': 192.55,
 '490796': 870.63,
 '490797': 155.7,
 'C490798': -354.45,
 '490799': 28.75,
 '490800': 7.8,
 '490801': 660.0,
 '490802': 19.5,
 '490803': 207.32,
 '490804': 487.09,
 '490805': 215.0,
 '490806': 39.4,
 '490808': 134.04,
 'C490807': -1213.02,
 '490809': 159.0,
 '490810': 259.92,
 '490811': 309.7,
 '490817': 1806.19,
 '490823': 304.8,
 '490834': 564.38,
 '490836': 2.9,
 '490838': 20.25,
 '490846': 129.3,
 '490847': 249.64,
 '490851': 311.8,
 '490855': 363.6,
 '490863': 88.05,
 'C490866': -28.8,
 '490871': 211.41,
 '490881': 10.0,
 '490893': 111.24,
 '490899': 792.84,
 '490905': 656.85,
 '490917': 312.9,
 '490920': 109.08,
 '490921': 42.3,
 '490922': 114.3,
 'C490923': -14.85,
 '490924': 123.1,
 '490925': 648.5,
 '490926': 250.02,
 '490928': 404.44,
 '490927': 304.2,
 'C490929': -39.6,
 '490930': 81.12,
 '490932': 12.4,
 'C490931': -7.95,
 '490933': 2452.56,
 'C490934': -2.55,
 'C490935': -88.25,
 '490936': 366.9,
 '490937': 2285.58,
 '490938': 215.3,
 'C490939': -15.3,
 '490940': 0.95,
 '490941': 644.52,
 'C490942': -658.63,
 'C490943': -15.0,
 '490944': 151.2,
 '490945': 97.55,
 'C490946': -1213.02,
 'C490947': -1.65,
 '490948': 15.0,
 'C490949': -1.65,
 '490950': 6.35,
 '490951': 11.8,
 '490952': 0.85,
 '490953': 966.66,
 '490954': 102.82,
 '490955': 8.7,
 '490956': 2442.72,
 '490957': 3796.37,
 '490958': 328.8,
 '490959': 507.9,
 '490960': 9.95,
 '490961': 194.75,
 '490962': 683.14,
 '490963': 4646.49,
 '490964': 104.15,
 '490966': 436.71,
 '490968': 484.0,
 '490971': 372.64,
 '490972': 728.05,
 'C490973': -6.2,
 'C490974': -3.75,
 '490975': 0.0,
 '490976': 0.0,
 '490978': 193.08,
 'C490977': -17.7,
 'C490979': -19.05,
 'C490980': -26.35,
 '490981': 313.45,
 '490982': 8.82,
 'C490983': -3.75,
 '490984': 303.45,
 'C490985': -39.8,
 'C490986': -12.75,
 'C490987': -48.75,
 'C490988': -11.9,
 '490989': 462.46,
 '490990': 271.85,
 'C490991': -11.9,
 'C490993': -17.2,
 '490992': 438.74,
 'C490994': -6.35,
 'C490995': -76.5,
 'C490996': -308.82,
 'C490997': -15.95,
 '490998': 379.13,
 '490999': 24.65,
 'C491000': -1.65,
 'C491001': -14.95,
 'C491002': -67.5,
 'C491003': -70.9,
 'C491004': -21.2,
 'C491005': -7.95,
 '491006': 272.5,
 '491007': 213.27,
 '491008': 191.89,
 '491009': 255.68,
 '491010': 318.0,
 '491011': 389.99,
 'C491012': -2.5,
 'C491013': -34.6,
 '491014': 549.09,
 'C491015': -12.75,
 'C491016': -12.6,
 'C491017': -4.95,
 'C491018': -17.65,
 'C491019': -40.9,
 'C491020': -31.8,
 'C491021': -6.75,
 'C491022': -45.15,
 'C491023': -700.4,
 '491024': 383.04,
 '491025': 325.44,
 '491026': 162.72,
 'C491027': -237.6,
 'C491028': -16.95,
 'C491029': -16.2,
 'C491030': -31.2,
 'C491031': -9.95,
 'C491032': -10.5,
 '491033': 328.02,
 '491034': 305.5,
 '491035': 295.35,
 'C491036': -25.5,
 'C491037': -29.75,
 '491038': 528.9,
 '491039': 301.0,
 'C491040': -16.1,
 '491041': 4475.84,
 '491042': 14.65,
 '491043': 4725.77,
 '491044': 234.38,
 '491045': 303.2,
 '491046': 0.0,
 '491047': 0.0,
 '491048': 519.42,
 '491049': 748.9,
 '491051': 408.51,
 '491050': 333.8,
 'C491052': -60.78,
 '491053': 0.0,
 '491055': 219.55,
 '491054': 320.2,
 '491056': 1007.74,
 '491057': 77.8,
 '491058': 307.95,
 '491059': 285.3,
 '491061': 233.53,
 '491060': 392.4,
 '491062': 124.0,
 ...}

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Invoice       525461 non-null  object
 1   code_produit  525461 non-null  object
 2   description   522533 non-null  object
 3   quantité      525461 non-null  int64
 4   date_facture  525461 non-null  object
 5   Price         525461 non-null  float64
 6   Customer ID   417534 non-null  float64
 7   pays          525461 non-null  object
 8   qcut_prix     525461 non-null  category
dtypes: category(1), float64(2), int64(1), object(5)
memory usage: 32.6+ MB